.form-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.priority-button {
  border: 2px solid;
  padding: 5px 5px;
}

.priority-button.low {
  border-color: green;
}

.priority-button.high {
  border-color: red;
}

.task-list {
  margin-top: 10px;
  border: 2px solid;
  padding: 10px;
}
.form-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.priority-button {
  border: 2px solid;
  padding: 5px 10px;
}

.priority-button.low {
  border-color: green;
  
}

.priority-button.high {
  border-color: red;

}


.task-list {
  margin-top: 10px;
  border: 2px solid;
  padding: 10px;
}
.App {
  width: 60%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
li span {
  padding: 8px;
}
li button {
  background: rgb(45, 0, 128);
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}

#save-task-button {
  background: rgb(0, 0, 0);
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 1.2em; 
  padding: 10px 20px;

}

